/* VILÁGOS MÓD */

/* SÖTÉT MÓD */


.background{
background-image: url(background.png);
width: 100% ;
height: 100%;
}

body{

}

/* LOGÓ */
.typing-container {
  display: inline-block;
}

.typing-text {
  font-family: 'Times New Roman', Times, serif; /* Fontos a fix szélességű betűtípus */
  overflow: hidden; /* Elrejti a még ki nem írt betűket */
  border-right: 2px solid black; /* Ez a villogó kurzor */
  white-space: nowrap; /* Nem engedi a soron belüli törést */
  letter-spacing: 2px;
  
  /* Animációk: gépelés + kurzor villogás */
  animation: 
  typing 4s steps(35, end) 1,
  blink-caret 0.75s step-end 1;
}

/* Szöveg kinyitása balról jobbra */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Kurzor villogása */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

.logo-container {
  position:absolute;
  display: inline-block;
  align-items: center;
}

.logo-img {
  display: block;
  max-width: 300px;
}
/* LÁBLÉC */
.lablec{
    background-color: black ;
    color: white;
    text-align: center;
    bottom: 0px;
    padding: 5px;;
}

/* MENÜ GOMBJAI */
.navbar {
    display:block;
    background-color: transparent;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
}

.navbar:hover {
    background-color: grey;
    border-radius: 10px;
}

.fejlec {
    background-color: black;
    width: 100%;
    height: 20px;
}

.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    width: 12%;
    text-decoration: none;
}